OCI_CONFIG_PATH=/home/opc/.oci/config
OCI_PROFILE=DEFAULT
OCI_GENAI_ENDPOINT=https://inference.generativeai.us-chicago-1.oci.oraclecloud.com
OCI_COMPARTMENT_OCID=ocid1.compartment.oc1..<your_compartment_ocid>
