ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_DSN=genaivasuatp_high
ORACLE_WALLET_DIR=/home/opc/wallet
ORACLE_WALLET_PASSWORD=
OCI_CONFIG_PATH=/home/opc/.oci/config
OCI_PROFILE=DEFAULT
OCI_COMPARTMENT_OCID=

# Optional overrides
# APP_NAME=AgentStudio
# DATA_DIR=/u01/scripts/oci_samples/rag_rst/data/extract_docs_code-aster
# OCI_GENAI_ENDPOINT=https://inference.generativeai.us-chicago-1.oci.oraclecloud.com
# OCI_EMBED_MODEL_ID=cohere.embed-v4.0
# OCI_CHAT_MODEL_ID=cohere.command-a-03-2025
# OCI_VISION_MODEL_ID=cohere.command-a-vision
# RAG_HOST=0.0.0.0
# RAG_PORT=8000
# RAG_PYTHON_BIN=/u01/venv/bin/python
