ORACLE_USER=vasudeva_atp
ORACLE_PASSWORD=change-me
ORACLE_DSN=genaivasuatp_high
ORACLE_WALLET_DIR=/home/opc/wallet
ORACLE_WALLET_PASSWORD=change-me
OCI_CONFIG_PATH=/home/opc/.oci/config
OCI_PROFILE=DEFAULT
OCI_COMPARTMENT_OCID=ocid1.compartment.oc1..replace_me
OCI_GENAI_ENDPOINT=https://inference.generativeai.us-chicago-1.oci.oraclecloud.com
OCI_EMBED_MODEL_ID=cohere.embed-v4.0
OCI_CHAT_MODEL_ID=cohere.command-a-03-2025
OCI_VISION_MODEL_ID=cohere.command-a-vision
EMBEDDING_DIMENSIONS=1024
MAX_CHUNK_WORDS=220
CHUNK_OVERLAP_WORDS=35
