#cloud-config
package_update: true
package_upgrade: false

write_files:
  - path: /var/tmp/bootstrap_rag_pipeline.sh
    permissions: "0755"
    owner: root:root
    content: |
      ${replace(bootstrap_script, "\n", "\n      ")}

runcmd:
  - [ bash, /var/tmp/bootstrap_rag_pipeline.sh ]
